[init]
	defaultBranch = master
[alias]
	unstage = reset HEAD --
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	tfo = "!f() { git checkout -b idan-emergency-exit && git add -A && git commit -m \"Emergency exit\" && git push origin head -u -f; }; f"
	lazy = "!l() { git commit -a -m \"$*\"; git push; }; l"
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
[pull]
	rebase = true
