## Path to oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

{% if shell_ohmyzsh_update_frequency_days %}
## Update automatically every {{ shell_ohmyzsh_update_frequency_days }} days.
zstyle ':omz:update' mode auto      
zstyle ':omz:update' frequency {{ shell_ohmyzsh_update_frequency_days }}
{% endif %}

## Set theme to load.
{{ "# " if shell_use_starship -}}
ZSH_THEME="{{ shell_ohmyzsh_theme }}"

## OhMyZsh Plugins to load.
## Standard plugins can be found in $ZSH/plugins/
## Custom plugins may be added to $ZSH_CUSTOM/plugins/
plugins=(
{% for plugin in shell_ohmyzsh_plugins %}
  {{ plugin.name }}
{% endfor %}
)

## Enable oh-my-zsh
source $ZSH/oh-my-zsh.sh