[init]
	defaultBranch = main
	templatedir = {{ ansible_env.HOME }}/.git-templates
[user]
	name = {{ git_user_name }}
	email = {{ git_user_email }}
{% if git_aliases %}
[alias]
{% for name, code in git_aliases.items() %}
	{{ name }} = "{{ code }}"
{% endfor %}
{% endif %}
[pull]
	rebase = true
[push]
	autoSetupRemote = true